<!doctype html>
<html>
  <head>
    <title >Flask-Sock-SF-Pubsub Demo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/design-system/2.20.1/styles/salesforce-lightning-design-system.min.css" integrity="sha512-FlPIxgHEWr+3ARfaA4vaXTlnA3wLE4grE0Uagpfo89JPVJ21FHvtMolg4txD9zw2wlQnHV9s41hj4B7iUfk8VA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <div class="slds-box">
        <p class="slds-text-heading_large">Flask-Socket</p>
    </div>
    <table class="slds-table slds-table_cell-buffer slds-table_bordered"
        aria-label="Example default base table of Opportunities" id="fruit_table">
        <thead>
            <tr class="slds-line-height_reset">
                <th class="" scope="col">
                    <div class="slds-truncate" title="Opportunity Name">Id</div>
                </th>
                <th class="" scope="col">
                    <div class="slds-truncate" title="Account Name">Fruit Name</div>
                </th>
                <th class="" scope="col">
                    <div class="slds-truncate" title="Close Date">Price</div>
                </th>
                <th class="" scope="col">
                    <div class="slds-truncate" title="Stage">Subsidized</div>
                </th>
    
            </tr>
        </thead>
        <tbody id="tbody">
            
            
        </tbody>
    </table>
   
   
    <script>
    function callAPi(){
        
        const log = (text) => {
            text = JSON.parse(text);
            console.log(text.Name__c);
           
            var body = document.getElementById("tbody")[0];
            body.innerHTML += '<tr><td><div class="slds-truncate" title="'+text.Fruit_Id__c+'">'+text.Fruit_Id__c+'</div></td>'+'<td><div class="slds-truncate" title="'+text.Name__c+'">'+text.Name__c+'</div></td>'+
                                        '<td><div class="slds-truncate" title="'+text.Price__c+'">'+text.Price__c+'</div></td>'+'<td><div class="slds-truncate" title="'+text.is_Subsidised__c+'">'+text.is_Subsidised__c+'</div></td></tr>';
           
            //`<li>${text}</li><br>`;
           // document.getElementById('cardparent').innerHTML += ele;
        };
        
        const socket = new WebSocket('ws://' + location.host + '/echo');
        socket.onopen = function(e) {
            alert("[open] Connection established");
            console.log("Sending to server");
           
            socket.send('Hello');
            socket.addEventListener('message', ev => {
            log(ev.data);
            });
        };
       
    }
    callAPi();
      
      
    </script>
  </body>
</html>